@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

.site-body { 
    background: url("../images/admin9f.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header * {
    color: #fff;
}

header {
    background: #FF8D00;
    height: 66px;
    text-align: center;
}

header .site-logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo {
    margin: 9px;
    font-family: 'Candal', sans-serif;
}

header .logo a:hover {
    text-decoration: none;
    color: #fff;
}

header .logo span {
    color: rgb(104, 72, 17);
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul  li {
    float: left;
}

header ul  li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul  li a:hover {
    background: rgb(155, 134, 134);
    transition: 0.5s;
    text-decoration: none;
}

header nav {
    display: block;
}

.btn-primary:hover {
    background: rgb(155, 134, 134);
}

/* Content */

.content {
    padding-top: 300px;
    color: #fff;
    text-align: center; 
     
}

.main-content {
    min-height: 100vh;
}

.main-content span {
    font-family: 'Candal', sans-serif;
}

/* Services */

.services {
    background-image: url("../images/admin1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 50vh;
}

.services .services-heading {
    color: #fff;
    text-align: center;
}

.services .services-heading .heading {
    padding-top: 230px;
}

.services .services-heading span {
    font-family: 'Candal', sans-serif;
}

.inovation {
    margin: 40px
}

h4 {
    margin: 40px;
}

.inovation .col {
    text-align: center;
    margin: 10px;
}

.inovation .col p {
   text-align: justify; 
   margin-top: -10px;
}

.inovation-bottom {
    background-color: rgb(248, 242, 242);
}

.inovation-bottom .container .row .col {
    margin: 40px;
}

div #units {
    text-align: center;
}

#jokama-farms {
    margin: 26px;
}

/* Contact */

.contact-address {
    background: rgb(231, 224, 224);
    height: 14vh;
    position: relative;
    display: block;
    background: #f6f6f6;
    padding-bottom: 0px;
    z-index: 100;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col-lg-4 .col-xl-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-address-box {
    position: relative;
    display: block;
    background: #ffffff;
    text-align: center;
    padding: 40px 30px 32px;
    box-shadow: 0px 4px 6px 2px #ededed;
    margin-top: -115px;
    margin-bottom: 30px;
    transition: all 900ms ease 600ms;
}

/* Contact Form Area */

.contact-area {
    background-color: rgb(238, 225, 225);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.form {
    margin-top: 0px;
    padding-top: 110px;
    transition: all 4s ease-in-out;
    padding-left: 300px;
}

.form-control {
    width: 600px;
    border: 1px solid lightcoral;
    outline-style: inset;
    border-bottom: 2px solid rgb(243, 236, 236);
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
    color: #fff;
}

form .submit {
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    background-color: #f44336;
    cursor: pointer;
}

textarea .form-control {
    height: 150px;
}


/* Footer */

footer {
    height: 100px;
    margin: auto;
    background: rgb(102, 85, 85);
}

.footer-main {
    padding-top: 40px;
}

.footer-social-icons {
    color: #fff;

}

.footer-social-icons ul {
    margin: 0px;
    padding: 0px;
    float: right;
    padding-right: 30px;

}

.footer-social-icons ul li {
    display: inline-block;
    
}

.footer-social-icons ul li a {
    color: #fff;
    padding: 30px;
}

.footer-social-icons ul li a:hover {
    color: rgb(155, 134, 134);

}

.footer-contact {
    position: relative;
    left: 250px;
    text-align: center;
    color: #fff;
}

.footer-contact p i {
    color: rgb(39, 35, 35);
}

.footer-copyright {
    color: #fff;
    text-align: left;
    width: 100%;
    padding-top: 0px;
    padding-left: 60px;

}

/* Media Queries */

@media only screen and (max-width: 1024px) {
    header {
        position: relative;
    }
    header ul {
        width: 100%;
        background: #FFA100;
        max-height: 0px;
        display: flex;
    }
    header ul  li {
        width: 100%;
    }
    header ul li a {
        padding: 3px;
        color: black;
        font-size: 1em;
    }
    header .site-logo {
        margin-left: .5em;
    }
    #jokama-farms {
        margin: 50px;
    }
    h4 {
        font-size: 1.4rem;
    }
    h2 {
       font-size: 1.9rem;
    }
    .content {
        padding-top: 500px;
    }
    .main-content {
        min-height: 115vh;
        background-repeat: no-repeat;
    }
    .services {
        min-height: 0;
    }
    .services .services-heading .heading {
        padding-top: 153px;
    }
    .inovation .col {
        margin-left: 0px;
        margin-right: 0px;
    }
    .inovation .col p {
        text-align: justify;
        font-size: large;
        margin: -10px
    }
    .img-fluid {
        padding-top: 10px;
    }
    .form-control {
        width: 270px;
        margin-bottom: 0px
    }
    .form {
        margin-top: 470px;
        padding-left: 40px;
    }
    form .submit {
        margin-top: 0px;
    }
    .contact-address-box {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    textarea .form-control {
        height: 50px;
    }
    .contact-area {
        background-image: none;
        background-color: white;
        margin-top: -115px;
        margin-bottom: 155px;
        height: 60vh;
    }
    footer {
        display: block;
        padding: 0px;
    }
    .footer-main {
        padding: 10px;
    }
    .footer-copyright {
        padding: 0px;
        padding-left: 1px;
    }
}





